

<!DOCTYPE html>
<html>
<head>
  <title>CobraPIX</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h2 >Fazer login</h2>

<form action="/login" method="POST">
  <label for="nome_de_usuario">Nome de usuário:</label>
  <input type="text" name="nome_de_usuario" id="nome_de_usuario">

  <label for="senha">Senha:</label>
  <input type="password" name="senha" id="senha">

  <input type="submit" value="Entrar">
</form>
</body>
</html>