<!DOCTYPE html>
<html>
<head>
  <title>Meu Sistema de Login</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h2>Bem-vindo, <%= nome_de_usuario %>!</h2>

    <p>Você entrou com sucesso.</p>
    
    <p><a href="/logout">Sair</a></p>
</body>
</html>